article {
  padding: 1rem;
  color: #25113d;
  background-color: #bf9ee5;
  border-radius: 12px;
}

h2 {
  margin: 0;
}

time {
  color: #3c2c50;
}


button {
  font: inherit;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #380774;
  color: #decdf2;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  justify-content: right;
}

.actionButtons {
  display: flex;
  justify-content: space-between; /* Evenly spread out buttons */
  gap: 0.5rem; /* Optional: space between buttons */
  margin-left: auto; /* Push to the right */
  width: fit-content; /* Shrink to button size */
}